body {
    background-color: #ffffff;
}
.orangeNavBlock {
    background-color: #ff6200;
    width: 100%;
    height: 50px;
}

.lightGrayNavBlock {
    background-color: #f9f9f9;
    width: 100%;
    height: 100px;
}