body {
  background-color: #ffffff;
}
.orangeNavBlock {
  background-color: #ff6200;
  max-width: 100%;
  height: 30px;
  padding: 0.5% 0 0 15%;
}

.lightGrayNavBlock {
  background-color: #f9f9f9;
  max-width: 100%;
  height: 100px;
  padding: 0 0 0 15%;
}

nav {
  display: inline;
}

li {
  list-style-type: none;
  display: inline;
}

.callUsNow {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #be3600;
  margin: 0 1% 0 5%;
}

.number {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #ffffff;
  margin: 0 48% 0 0;
}

.login {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #be3600;
  margin: 0 1% 0 0;
}

.signUp {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #ffffff;
}

.your {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #000000;
  margin: 0 0 0 5%;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1.75% 0 0 0;
}

.logo {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #ff6200;
  margin: 0 36% 0 0;
}

.title {
  font-family: "Bebas Neue", cursive;
  font-size: 13px;
  margin: 0 1.5% 0 0;
  font-weight: lighter;
}

/* Dropdown Button */
.dropbtn {
  background-color: #f9f9f9;
  color: #000000;
  font-size: 13px;
  border: none;
  outline: none;
  font-family: "Bebas Neue", cursive;
}

.dropbtn2 {
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
  border: none;
  font-family: "Open Sans", sans-serif; 
  margin: 0;
  padding: 0;
  outline: none;
  width: 100%;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
    background-color: #ffffff;
    padding: 2% 0 11% 0;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

/* Links inside the dropdown */
.dropdown-content a {
  color: #000000;
  padding: auto;
  text-decoration: none;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.dropdown-content2 a {
    color: #000000;
    padding: auto;
    text-decoration: none;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border: none;
  outline: none;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
    margin: -40% 0 0 100%;
  }

.bottomSection {
  padding: 0 5% 0 5%;
}

.slashMenu {
  font-family: "Ubuntu", sans-serif;
  color: #868080;
  margin: 5% 0 4% 15.5%;
  font-size: 14px;
}

.contact {
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 26.96px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  margin: 0 0 0 15.5%;
}

.contactSection {
  max-width: 65%;
  margin: 0 0 0 15.5%;
}

.contactSection h3 {
  font-family: "Bebas Neue", cursive;
  color: #ff6200;
  font-size: 25.96px;
}

.contactSection p {
  font-family: "Ubuntu", sans-serif;
  margin: 0 0 6% 0;
}

.contactSection h3 {
  color: #ff6200;
  font-weight: bold;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

hr {
  height: 5px;
  border: 1px solid #000000;
  background-color: #000000;
}

.contactUsBar {
  margin: 0 0 4% 0;
}

.contactSection p {
  font-family: "Ubuntu", sans-serif;
  color: #868080;
}

.contactInfo {
  width: 40%;
}

.contactInfo h3 {
  font-family: "Open Sans", sans-serif;
  color: #ff6200;
  font-size: 23px;
  font-weight: lighter;
}

.nameBox {
  width: 98%;
  height: 25px;
  background-color: #f6f6f6;
  margin: 0 0 2% 0;
  padding: 2% 0 0 2%;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
  font-size: 14px;
}

.phoneAndEmail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 2% 0;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
  font-size: 14px;
}

.phoneBox {
  width: 49%;
  height: 20px;
  background-color: #f6f6f6;
  margin: 0 2% 0 0;
  padding: 2% 0 0 2%;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
}

.emailBox {
  width: 49%;
  height: 20px;
  background-color: #f6f6f6;
  padding: 2% 0 0 2%;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
}

.messageBox {
  height: 100px;
  background-color: #f6f6f6;
  padding: 2% 0 0 2%;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
  font-size: 14px;
  margin: 0 0 4% 0;
}

button {
  background-color: #ff6200;
  border-radius: 2%;
  border-style: none;
  color: #ffffff;
  font-size: 13.04px;
  height: 35px;
  width: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.reachUs {
  width: 40%;
}

.reachUs h3 {
  font-family: "Open Sans", sans-serif;
  color: #ff6200;
  font-size: 23px;
  font-weight: lighter;
}

.reachUs hr {
  margin: 0 0 2% 0;
}

.reachUs img {
  height: 7%;
  width: 7%;
}

.addressPhone {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #868080;
}

.socialMedia {
  margin: 9% 0 0 0;
}
