body {
  background-color: #ffffff;
}
.orangeNavBlock {
  background-color: #ff6200;
  width: 100%;
  height: 30px;
  padding: 0.5% 0 0 15%;
}

.lightGrayNavBlock {
  background-color: #f9f9f9;
  width: 100%;
  height: 100px;
  padding: 0 0 0 15%;
}

nav {
  display: inline;
}

li {
  list-style-type: none;
  display: inline;
}

.callUsNow {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #be3600;
  margin: 0 10px 0 0;
}

.number {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #ffffff;
  margin: 0 45% 0 0;
}

.login {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #be3600;
  margin: 0 1% 0 0;
}

.signUp {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #ffffff;
}

.your {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #000000;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1.75% 0 0 0;
}

.logo {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #ff6200;
  margin: 0 32% 0 0;
}

.title {
  font-family: "Bebas Neue", cursive;
  font-size: 13px;
  margin: 0 1.5% 0 0;
  font-weight: lighter;
}

.bottomSection {
  padding: 0 5% 0 5%;
}

.slashMenu {
  font-family: "Ubuntu", sans-serif;
  color: #868080;
  margin: 5% 0 0 0;
  font-size: 14px;
}

.contact {
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 26.96px;
}

.contactSection {
  width: 65%;
}

.contactSection h3 {
  font-family: "Bebas Neue", cursive;
  color: #ff6200;
  font-size: 25.96px;
}

.contactSection p {
  font-family: "Ubuntu", sans-serif;
  margin: 0 0 6% 0;
}

.contactSection h3 {
  color: #ff6200;
  font-weight: bold;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

hr {
  height: 5px;
  border: 1px solid #000000;
  background-color: #000000;
}

.contactUsBar {
  margin: 0 0 4% 0;
}

.contactSection p {
  font-family: "Ubuntu", sans-serif;
  color: #868080;
}

.contactInfo {
  width: 40%;
}

.contactInfo h3 {
  font-family: "Open Sans", sans-serif;
  color: #ff6200;
  font-size: 23px;
  font-weight: lighter;
}

.nameBox {
  width: 98%;
  height: 25px;
  background-color: #f6f6f6;
  margin: 0 0 2% 0;
  padding: 2% 0 0 2%;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
  font-size: 14px;
}

.phoneAndEmail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 2% 0;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
  font-size: 14px;
}

.phoneBox {
  width: 49%;
  height: 20px;
  background-color: #f6f6f6;
  margin: 0 2% 0 0;
  padding: 2% 0 0 2%;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
}

.emailBox {
  width: 49%;
  height: 20px;
  background-color: #f6f6f6;
  padding: 2% 0 0 2%;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
}

.messageBox {
  height: 100px;
  background-color: #f6f6f6;
  padding: 2% 0 0 2%;
  font-family: "Ubuntu", sans-serif;
  color: #868080;
  font-size: 14px;
  margin: 0 0 4% 0;
}

button {
  background-color: #ff6200;
  border-radius: 2%;
  border-style: none;
  color: #ffffff;
  font-size: 13.04px;
  height: 35px;
  width: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.reachUs {
  width: 45%;
}

.reachUs h3 {
  font-family: "Open Sans", sans-serif;
  color: #ff6200;
  font-size: 23px;
  font-weight: lighter;
}

.reachUs img {
    height: 5%;
    width: 5%;
}